body {
  padding-top: 4.5rem;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background-color: #000;
}

a,
a:focus,
a:hover {
  color: #aaa;
}

.jumbotron {
  padding-top: 1rem;
  background-color: #000;
} 

nav.bg-black {
  background-color: #000 !important;
}

#myphoto {
  max-width: 10rem;
  height: auto;
}

li.list-group-item {
  background-color: #000;
}